# Database
DATABASE_URL="postgresql://postgres:myamba2323@localhost:5432/mhemadb?schema=public"

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=mhema_express_jwt_secret_key_change_in_production
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173

# File Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880

# SMS Configuration (Beem Africa)
SMS_PROVIDER=beem
SMS_API_KEY=8cc769f884fcefd8
SMS_SECRET=MWVlNWJjMmEzZDliY2YyMzY0NWNkMDI1Mjk5OWI3ZWJiYTNkMDQ3MTUyMzg2N2U3YzRhNTE3ODI5MmM3MDM5NQ==
SMS_SENDER_ID=Rodway Shop
SMS_ENABLED=true
